.searchForm{
    flex: 1;
    border-style: solid;
    border-color: Grey 200;
    border-width: 1px;
    border-radius: 10px;
    height: fit-content;
    padding: 20px;
    margin: 20px;
    max-width: 315px;
}
.filters{
    display: inline;
}
.clearFiltersButton:hover{
    text-decoration: underline;
}